<h1 class="text-center">About</h1>
<p>We learn how to make websites. Enough said.</p>
<p>Actually, it's a bit more complicated than that. We dedicate ourselves to full-stack development, which means that we both design the appearance of the website (known as the front-end) and decide how it operates behind the curtain (called the back-end).</p>
<p>We have weekly lunch meetings every Wednesday to learn together and dicuss any current projects. Newcomers are always welcome to join in on any meeting.</p>
<p>There is a place for everyone in this club! If you don't care about the programming, code, blah blah blah, you can still contribute to the artistic process. If you like designing/sketching layouts for websites or have good taste with colors/fonts, then your input would be a great help. Web developers might know how to style, but it doesn't mean they're good at it. I mean, did you see this website?</p>

