<div class="container">
  <h1 class="text-center">Want to contact us?</h1>
  <p>If you are a Campolindo student and want to submit a request for us to make a website for you, then please fill out <%= link_to "this form", "#" %>, and we'll try to get back to you as soon as possible.</p>
  <p>Please e-mail any staff member if you have any other concerns and they will relay it to the team. You may e-mail the president of the club, Kyle Wu, at kyle.wu19@auhsdschools.org.</p>
</div>
