<h1 class="text-center">Want to contact us?</h1>
<p>If you are a Campolindo student and want to submit a request for us to make a website for you, then please register (top right corner) with your auhsdschool.org email, and you will be given the option to submit a request.</p>
<p>Otherwise, please e-mail any staff member if you have any other concerns and they will relay it to the team. You may e-mail the president of the club, Kyle Wu, at kyle.wu19@auhsdschools.org.</p>

